[submodule "VstPlugin Catalog Icons/Image-Batch-Processing-Python-Scripts"]
	path = Generate Toolbar Icons from Images/Image-Batch-Processing-Python-Scripts
	url = https://github.com/JessyJP/Image-Batch-Processing-Python-Scripts
